.create-character-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.create-character-wrapper input {
    background: rgba(4, 8, 27, 0.7);
    border: 1px solid rgba(32, 166, 227, 0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 0;
}

.create-character-button {
    color: white;
    background: rgba(32, 166, 227, 0.8);
    box-shadow: 0 0 10px rgba(32, 166, 227, 0.8);
    text-shadow: 0 0 3px white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.create-character-button:hover {
    box-shadow: 0 0 10px rgba(32, 166, 227, 1);
    background: rgba(32, 166, 227, 1);
}

.character-list-item {
    color: rgba(255, 255, 255, 0.8);
    background: rgba(4, 8, 27, 0.7);
    padding: 10px;
    font-weight: bold;
    margin-bottom: 2px;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s ease-out;
}

.character-list-item:hover {
    opacity: 1;
    text-shadow: 0 0 3px white;
}

.character-list-wrapper {
    max-width: 400px;
    padding: 40px;
}

@media only screen and (max-width: 600px) {
    .create-character-button {
        font-size: 11px;
    }
    .create-character-wrapper input {
        padding: 5px;
        flex-grow: 1;
        width: 50px;
    }
}