.stat-value-line {
    display: flex;
    color: white;
    margin-bottom: 5px;
}

.stat-value-line-title {
    width: 40px;
    font-size: 14px;
    text-shadow: 0 0 3px white;
}

.stat-wrapper {
    padding: 20px 0;
}

.character-job-money {
    display: flex;
    margin: 20px 0 10px 0;
    background: rgba(4, 8, 27, 0.4);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.character-job {
    color: white;
    opacity: 0.8;
    padding-right: 20px;
}

.character-money {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.character-skills-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.character-skill {
    color: white;
    padding: 5px;
    margin: 0 3px 3px 0;
    background: rgba(4, 8, 27, 0.3);
    border: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    display: flex;
    white-space: nowrap;
    border: 1px dotted rgba(255, 255, 255, 0.4);
}

.character-skill-name {
    padding-right: 5px;
}

.character-skill-value {
    font-weight: bold;
    color: rgba(235, 218, 137, 1);
}

.character-card h2 {
    color: rgba(235, 218, 137, 1)
}

.character-card {
    max-width: 500px;
}

@media only screen and (max-width: 600px) {
    .character-card {
        padding: 10px;
    }
}