.dice {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px 0 0;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.6);
}

.dice.critical {
    border: 1px solid yellow;
    color: yellow;
}

.roll-button {
    display: inline-block;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: transparent;
    cursor: pointer;
    margin: 0 5px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.6);
}

.dice-roller {
    display: flex;
}