.cyberware-list {
    color: white;
}

.cyberware-list h1 {
    font-size: 15px;
    padding-bottom: 10px;
}

.cyberware-list table {
    color: rgba(255, 255, 255, 0.8);
    border-collapse: separate;
    border-spacing: 0 2px;
    font-size: 14px;
    margin-bottom: 20px;
}

.cyberware-list td {
    padding: 8px 10px;
    text-align: center;
}

.body-part-type-button {
    font-size: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.body-part-type-button.selected {
    color: rgba(42, 233, 242, 1);
    text-shadow: 0 0 3px rgba(42, 233, 242, 1);
    border-bottom: 1px solid rgba(42, 233, 242, 1);
}

.cyberware-item-lock {
    height: 18px;
    width: 18px;
    opacity: 0.5;
}

.installed-body-part {
    color: greenyellow;
    border: 1px solid greenyellow;
    padding: 20px;
    margin-bottom: 30px;
}

.humanity-display {
    color: cyan;
    font-weight: bold;
    padding: 10px 0;
}