.skill-bar-container {
    margin-bottom: 8px;
}

.skill-bar {
    display: flex;
    color: white;
}

.special-skill {
    color: yellow;
    font-weight: bold;
}

.skill-bar label {
    text-shadow: 0 0 3px rgba(255, 255, 255, 1);
    display: inline-block;
    line-height: 22px;
    height: 22px;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer
}

.skill-block {
    height: 22px;
    width: 18px;
    margin-right: 2px;
    cursor: pointer;
    background: rgba(4, 8, 27, 0.7);
}

.skill-block.filled {
    box-shadow: 0 0 15px rgba(42, 233, 242, 1);
    background: rgba(42, 233, 242, 1);
    border: 1px solid rgba(42, 233, 242, 1);
}

.skill-block.empty {
    border: 1px solid rgba(30, 88, 90, 1);
}

.skill-block.filled:hover {
    background: rgba(42, 233, 242, 0.5);
    box-shadow: 0 0 15px rgba(42, 233, 242, 0.5);
}

.skill-block.empty:hover {
    background: rgba(42, 233, 242, 0.5);
    box-shadow: 0 0 15px rgba(42, 233, 242, 0.5);
}

.skill-num-box {
    height: 22px;
    line-height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
}

.skill-num-box-value {
    opacity: 0.7;
    width: 16px;
    margin-left: 10px;
}

.skill-num-box-total {
    opacity: 1;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 16px;
    margin-left: 2px;
}

.skill-num-box-value-stat-bonus {
    opacity: 0.7;
    width: 50px;
    white-space: nowrap;
    margin-left: 2px;
    border: none;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .skill-num-box-value {
        display: none;
    }
    .skill-num-box-value-stat-bonus {
        display: none;
    }
}