.stat-value {
    display: flex;
    width: 150px;
}

.stat-value-block {
    height: 18px;
    width: 5px;
    margin-left: 3px;
    border: 1px solid white;
}

.stat-value-block.filled {
    box-shadow: 0 0 15px rgba(42, 233, 242, 1);
    background: rgba(42, 233, 242, 1);
    border: 1px solid rgba(42, 233, 242, 1);
}

.stat-value-block.empty {
    border: 1px solid rgba(30, 88, 90, 1);
}

.stat-value-number {
    opacity: 0.8;
    border: 1px solid white;
    color: white;
    height: 18px;
    width: 18px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}