body {
  background: #1A1A20;
  background-image: url('/img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

p {
  color: white;
  max-width: 500px;
}

.page-title {
  padding-bottom: 20px;
}

.page {
  background: rgba(4, 8, 27, 0.7);
  padding: 30px;
}

.row {
  display: flex;
}

.left-col {
  margin-right: 10px;
}

.right-col {
  margin-left: 10px;
}

.separator {
  height: 20px;
}

.sidepanel {
  width: 300px;
  padding: 30px;
  background: rgba(4, 8, 27, 0.9);
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  border-left: 1px solid rgba(161, 247, 251, 1);
  box-shadow: 0 0 5px rgb(161, 247, 251);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .row {
    display: block;
  }
  .left-col {
    margin: 0;
  }
  .right-col {
    margin: 0;
  }
  .hide-mobile {
    display: none;
  }
  .page {
    padding: 10px;
  }
}