body {
  background: #1A1A20;
  background-image: url('/img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

h1, h2 {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

p {
  color: white;
  max-width: 500px;
}

.page-title {
  padding-bottom: 20px;
}

.page {
  background: rgba(4, 8, 27, 0.7);
  padding: 30px;
}

.row {
  display: flex;
}

.left-col {
  margin-right: 20px;
}

.right-col {
  margin-left: 20px;
}

.separator {
  height: 20px;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
  .left-col {
    margin: 0;
  }
  .right-col {
    margin: 0;
  }
  .hide-mobile {
    display: none;
  }
}